{% extends "base.html" %}

{% block content %}

<main class="container" role="main">
  <h1 class="mt-5">Mitos</h1>
  <ol>
    <li>
      <h3 class="mt-5">O Álcool Gel não funciona na prevenção contra o vírus</h3>
      <p><b>Mito. </b>Embora circule nas redes sociais a informação de que o vinagre seria mais eficiente para higienizar as mão e evitar o contágio pelo coronavírus, o Ministério da Saúde e outros órgãos mundiais recomendam lavar as mãos com água e sabão ou, se não disponível, usar álcool gel 70%. O vírus permanece vivo em superfícies de metal, vidro e plástico, mas é facilmente exterminado com álcool gel 70%, segundo estudo publicado no Journal of Hospital Infection (em inglês).</p>
    </li>
    <li>
      <h3 class="mt-5">Chá de Erva-Doce mata o vírus</h3>
      <p><b>Mito. </b>Com o argumento de que o chá de erva-doce carrega a mesma substância do medicamento Tamiflu, usado no tratamento da gripe H1N1, corre nas redes sociais um vídeo aconselhando as pessoas a ingerirem duas doses diárias da bebida (uma xícara a cada 12 horas) para matar o vírus. O Ministério da Saúde ressalta que, até o momento, não há nenhuma substância, alimento, vitamina ou vacina que possa prevenir a infecção.</p>
    </li>
    <li>
      <h3 class="mt-5">Tomar banho quente ajuda a prevenir a doença</h3>
      <p><b>Mito. </b>Os países do mundo com maior incidência de casos da infecção pelo novo coronavírus estão no fim do inverno, o que tem levado muita gente a acreditar e espalhar a informação de que o vírus não se propaga no calor. Consequentemente, banhos bem quentes funcionariam como medida de prevenção contra a doença. A OMS publicou que a temperatura corporal normal do ser humano, entre 36.5ºC e 37ºC, não é alterada com a água quente do banho. O comunicado também alerta que o banho em alta temperatura pode provocar queimaduras na pele.</p>
    </li>
    <li>
      <h3 class="mt-5">Comer alho cru combate o coronavíruss</h3>
      <p><b>Mito. </b>O alho é comprovadamente um alimento com propriedades antimicrobianas capazes de aumentar a imunidade. Porém, a sugestão de internautas para as pessoas consumirem o alimento cru para conter o vírus não tem evidência científica, segundo a <a href='https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/myth-busters'>OMS</a>.</p>
    </li>
    <li>
      <h3 class="mt-5">O vírus é transmitido por meio de itens importados da China</h3>
      <p><b>Mito. </b>Como a China é um dos maiores exportadores comerciais do mundo, existe o boato de que itens importados de lá poderiam levar o vírus para os países importadores, o que aumentaria muito a contaminação no mundo inteiro. Segundo o <a href='https://www.saude.gov.br/fakenews/46366-plastico-bolha-e-o-novo-coronavirus-e-fake-news'>Ministério da Saúde</a>, não é verdade que produtos vindos do país asiático cheguem contaminados ao local de destino.</p>
    </li>
    <li>
      <h3 class="mt-5">O coronavírus só atinge pessoas idosas</h3>
      <p><b>Mito. </b>Os idosos, aqueles acima de 60 anos, fazem parte do grupo de risco por serem mais vulneráveis e propensos a complicações respiratórias severas. Porém, crianças, jovens e adultos também podem ser contaminados pelo vírus. Ou seja, o novo coronavírus pode infectar pessoas de todas as idades.</p>
    </li>
    <li>
      <h3 class="mt-5">A COVID-19 é uma gripe como outra qualquer</h3>
      <p><b>Mito. </b>Os sintomas são semelhantes aos da gripe, porém, nos casos em que a doença evolui, surgem complicações respiratórias graves. Ainda levará um tempo para que a COVID-19 seja totalmente entendida, mas os dados atuais mostram que a taxa de mortalidade pela doença está entre 3% e 4%.</p>
    </li>
    <li>
      <h3 class="mt-5">A vitamina D previne o coronavírus</h3>
      <p><b>Mito. </b>Obtida a partir de suplementos vitamínicos, alguns alimentos e a exposição ao sol, a vitamina D reforça o sistema imunológico. Mas a associação entre a vitamina e a prevenção contra o coronavírus, feita em mensagens eletrônicas envolvendo a Sociedade Brasileira de Infectologia (SBI), não procede. Em nota oficial, a SBI afirma que não há evidências científicas que comprovem a eficácia da vitamina D contra a vírus causador da doença respiratória.</p>
    </li>
  </ol>
  <h2 class="mt-5">Fonte: <a href='http://painel.programasaudeativa.com.br/materias/epidemias/mitos-coronavirus'>SaúdeAtiva</a></h2>
</main>

{% endblock %}
 