{% extends "base.html" %}

{% block content %}

<h1 class="mt-5">Como se proteger</h1>
<p>As recomendações de prevenção à COVID-19 são as seguintes:</p>
<ul>
  <li>Lave com frequência as mãos até a altura dos punhos, com água e sabão, ou então higienize com álcool em gel 70%. Essa frequência deve ser ampliada quando estiver em algum ambiente público (ambientes de trabalho, prédios e instalações comerciais, etc), quando utilizar estrutura de transporte público ou tocar superfícies e objetos de uso compartilhado.</li>
  <li>Ao tossir ou espirrar, cubra nariz e boca com lenço ou com a parte interna do cotovelo.
Não tocar olhos, nariz, boca ou a máscara de proteção fácil com as mãos não higienizadas.
Se tocar olhos, nariz, boca ou a máscara, higienize sempre as mãos como já indicado.</li>
  <li>Mantenha distância mínima de 1 (um) metro entre pessoas em lugares públicos e de convívio social. Evite abraços, beijos e apertos de mãos. Adote um comportamento amigável sem contato físico, mas sempre com um sorriso no rosto.</li>
  <li>Higienize com frequência o celular, brinquedos das crianças e outro objetos que são utilizados com frequência.</li>
  <li>Não compartilhe objetos de uso pessoal como talheres, toalhas, pratos e copos.</li>
  <li>Mantenha os ambientes limpos e bem ventilados.</li>
  <li>Evite circulação desnecessária nas ruas, estádios, teatros, shoppings, shows, cinemas e igrejas.</li>
  <li>Se estiver doente, evite contato próximo com outras pessoas, principalmente idosos e doentes crônicos, busque orientação pelos canais on-line disponibilizados pelo SUS ou atendimento nos serviços de saúde e siga as recomendações do profissional de saúde.</li>
  <li>Durma bem e tenha uma alimentação saudável.</li>
  <li>Recomenda-se a utilização de máscaras em todos os ambientes.  As máscaras de tecido (caseiras/artesanais), não são Equipamentos de Proteção Individual (EPI), mas podem funcionar como uma barreira física, em especial contra a saída de gotículas potencialmente contaminadas.</li>
</ul>
<p>Estimule familiares, amigos e colegas de trabalho sobre a importância do uso de máscara e da higienização das mãos na prevenção da disseminação do vírus causador da doença COVID-19.</p>
<h3 class="mt-5">Dicas para viajantes:</h3>
<p>Caso você precise viajar, avalie a real necessidade. Se for inevitável viajar, previna-se e siga as orientações das autoridades de saúde locais.
  Ao voltar de viagens internacionais ou locais recomenda-se:</p>
  <ul>
    <li>Reforçar os hábitos de higiene e proteção como a utilização de máscara, higienização das mãos com água e sabão ou com álcool em gel 70 %.</li>
    <li>Caso apresente sintomas de gripe, busque atendimento nos serviços de saúde, e evite contato com outras pessoas</li>
  </ul>
<h1 class="mt-5">Se eu ficar doente</h1>
<p>Se estiver doente, com sintomas compatíveis com a COVID-19, tais como febre, tosse, dor de garganta e/ou coriza, com ou sem falta de ar, evite contato físico com outras pessoas, incluindo os familiares, principalmente, idosos e doentes crônicos, Procure imediatamente os postos dssssssssssse triagem nas Unidades Básicas de Saúde / UPAS ou outras unidades de saúde. Após encaminhamento consulte-se com o médico. Uma vez diagnosticado pelo médico, receba as orientações e prescrição dos medicamentos que você deverá usar. O médico poderá solicitar exames complementares. Inicie o tratamento prescrito imediatamente. Mantenha seu médico sempre informado da evolução dos sintomas durante o tratamento e siga suas recomendações.</p>
<ul>
  <li>Utilize máscara o tempo todo.</li>
  <li>Se for preciso cozinhar, use máscara de proteção, cobrindo boca e nariz todo o tempo.</li>
  <li>Depois de usar o banheiro, nunca deixe de lavar as mãos com água e sabão e sempre limpe vaso mantendo a tampa fechada, pia e demais superfícies com álcool, água sanitária ou outro produto recomendado pela Agência Nacional de Vigilância Sanitária – Anvisa -  para desinfecção do ambiente.</li>
  <li>Separe toalhas de banho, garfos, facas, colheres, copos e outros objetos apenas para seu uso.</li>
  <li>O lixo produzido precisa ser separado e descartado.</li>
  <li>Evite compartilhar sofás e cadeiras e realize limpeza e desinfecção frequente com água sanitária ou álcool 70% ou outro produto recomendado pela Agência Nacional de Vigilância Sanitária – Anvisa.</li>
  <li>Mantenha a janela aberta para circulação de ar do ambiente usado para isolamento e a porta fechada, limpe a maçaneta frequentemente com álcool 70%, água sanitária, ou outro produto recomendado pela Agência Nacional de Vigilância Sanitária – Anvisa.Mantenha a janela aberta para circulação de ar do ambiente usado para isolamento e a porta fechada, limpe a maçaneta frequentemente com álcool 70%, água sanitária, ou outro produto recomendado pela Agência Nacional de Vigilância Sanitária – Anvisa.</li>
</ul>
<p>Caso o paciente não more sozinho, recomenda-se que os demais moradores da residência durmam em outro cômodo, seguindo também as seguintes recomendações:</p>
<ul>
  <li>Mantenha a distância mínima de 1 metro entre a pessoa infectada e os demais moradores.</li>
  <li>Limpe os móveis da casa frequentemente com água sanitária, álcool 70% ou outro produto recomendado pela Agência Nacional de Vigilância Sanitária – Anvisa.</li>
  <li>Se uma pessoa da casa tiver diagnóstico positivo, todos os moradores devem ficar em distanciamento conforme orientação médica.</li>
</ul>
<h1 class="mt-5">Serviço de Saúde</h1>
<p>Procure um serviço de saúde caso apresente sintomas de síndrome gripal.
  <ul>
    <li><a href='https://portalarquivos.saude.gov.br/images/pdf/2020/April/18/Hospitais-estaduais-CORONAV--RUS.pdf'>Lista de hospitais que prestam atendimento em seu estado/município.</a></li>
    <li><a href='https://portalarquivos.saude.gov.br/images/pdf/2020/April/18/postos-de-sa--de-com-endere--o.pdf'>Lista dos postos de saúde que prestam atendimento em seu estado/município.</a></li>
    <li><a href='https://portalarquivos.saude.gov.br/images/pdf/2020/May/25/lista-laboratorio.pdf'>Laboratórios públicos de referência de testagem para coronavírus</a></li>
  </ul>
</p>
<h2 class="mt-5">Fonte: <a href='https://coronavirus.saude.gov.br/'>Ministério da Saúde</a></h2>

{% endblock %}
